body, h2, ul {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

h1 {
    margin-top: 5px;
    margin-bottom: 10px;
}

p {
    margin-left: 10px;
    margin-right: 10px;
}

h3 {
    margin-top: 5px;
    margin-left: 6px;
    margin-right: 6px;
    font-family: 'Arial', sans-serif;
    color: white;
    background: linear-gradient(to right, #ff3300, #ff6f00);
    padding: 10px 20px;
    border-radius: 5px;
}

h2 {
    margin-left: 6px;
    margin-right: 6px;
    font-family: 'Arial', sans-serif;
    color: white;
    background: linear-gradient(to right, #ff3300, #ff6f00);
    padding: 20px 20px;
    border-radius: 5px;
}

body {
    background-image: url('immagini/sfondo_negozio.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a.home-button {
    background: linear-gradient(to right, #ff3300, #ff6f00);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

nav ul li a.home-button:hover {
    background: linear-gradient(to right, #bb0000, #c02600);
}

img {
    max-width: 98%;
    height: auto;
    border-radius: 25px;
    margin-top: 10px;
    margin-left: 6px;
    margin-right: 6px;
}

.container {
    display: flex;
    justify-content: center;
    height: 85vh; /* Full height */
    width: 100%; /* Full width */
    margin: 0 auto;
    padding: 0;
}

.product-details {
    margin-top: 35px;
    background-color: #ffffff;
    border: 2px solid #000000;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: auto;
    max-width: 600px; /* Maximum width */
    box-sizing: border-box;
}

.product-details:hover {
    box-shadow: rgba(0, 0, 0, 0.2);
}
.negozio-button {
    background: linear-gradient(to right, #ff3300, #ff6f00);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}
.negozio-button:hover {
    background: linear-gradient(to right, #bb0000, #c02600);
}
.button {
    font-size: 20px;
    display: block;
    width: 100%;
    text-align: center;
    padding: 17px;
    margin: 5px auto;
    background: #000000;
    color: white;
    text-decoration: none;
    border: 2px solid #000000;
    cursor: pointer;
    border-radius: 8px;
}

.button:hover {
    background: #ffffff;
    color: #000000;
    border: 2px solid #000000;
}
