/* Stili aggiornati per assicurare una corretta visualizzazione */
.all{
    scrollbar-width: none; /* Nasconde la scrollbar */
    -ms-overflow-style: none; /* Nasconde la scrollbar per Internet Explorer e Microsoft Edge */
}
body, h2, ul {
    margin: 0px;
    padding: 0px;
    font-family: 'Arial', sans-serif;
}

h1 {
    margin-top: 5px;
    margin-bottom: 10px;
}

p {
    margin-left: 10px;
    margin-right: 10px;
}

h3 {
    margin-top: 5px;
    margin-left: 6px;
    margin-right: 6px;
    font-family: 'Arial', sans-serif;
    color: white;
    background: linear-gradient(to right, #ff3300, #ff6f00);
    padding: 10px 20px;
    border-radius: 5px;
}

body {
    background-image: url('immagini/sfondo_negozio.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    scrollbar-width: none; /* Nasconde la scrollbar */
    -ms-overflow-style: none; /* Nasconde la scrollbar per Internet Explorer e Microsoft Edge */
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

.home-button {
    background: linear-gradient(to right, #ff3300, #ff6f00);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.home-button:hover {
    background: linear-gradient(to right, #bb0000, #c02600);
}

.sport-dropdown {
    margin-top: 10px; /* Distanza dal pulsante Home */
    display: block; /* Elemento a blocco per utilizzare la larghezza completa */
    width: 10%; /* Utilizza la larghezza completa dell'header */
    padding: 10px; /* Padding coerente con il pulsante Home */
    box-sizing: border-box; /* Include il padding nel calcolo della larghezza */
    text-align: center;
    display: inline-block;
}
img {
    max-width: 95%;
    height: auto;
    border-radius: 25px;
    margin-left: 6px;
    margin-right: 6px;
}

.container {
    display: block;
    grid-template-columns: repeat(auto-fill, minmax(250px, 250px));
    grid-gap: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
    scrollbar-width: none; /* Nasconde la scrollbar */
    -ms-overflow-style: none; /* Nasconde la scrollbar per Internet Explorer e Microsoft Edge */
}

.product-card {
    background-color: #ffffff;
    border: 2px solid #000000;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 22px;
    margin-bottom: 20px;
    width: 291px;
    display: inline-block;
    vertical-align: top;
    padding: 15px;
    box-sizing: border-box;
}

.product-card:hover {
    box-shadow: rgba(0, 0, 0, 0.2);
}

.button {
    display: block;
    width: 86%;
    text-align: center;
    padding: 10px;
    margin: 5px auto;
    background: #000000;
    color: white;
    text-decoration: none;
    border: 2px solid #000000;
    cursor: pointer;
    border-radius: 8px;
}

.button:hover {
    background: #ffffff;
    color: #000000;
    border: 2px solid #000000;
}
