/* Reset base per alcuni elementi */
body,
h1,
h2,
ul {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #333;
}

header {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

header h1 {
    font-size: 2.5em;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 5px;
}

/* Stile per i tab */
.tab {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    background-color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
}

/* Stili per l'immagine di sfondo e pulsanti */
.hero-image-container {
    background: url('immagini/sfondo.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    width: 100%;
    height: 75vh;
    /* Regola questa per modificare l'altezza dell'area di sfondo */
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-container {
    text-align: center;
}

.main-button {
    padding: 30px 60px;
    font-size: 36px;
    background: linear-gradient(to right, #4600b6, #e4008c);
    color: white;
    border: none;
    border-radius: 20px;
    /* Bordi più arrotondati per un look più moderno */
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    /* Ombra più definita */
    margin: 0 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* Maggiore spaziatura tra i pulsanti */
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
}

.main-button:hover {
    background: linear-gradient(to right, #2a006e, #8f0058);
    transform: translateY(-3px);
    /* Effetto di sollevamento */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
    /* Ombra aumentata al passaggio del mouse */
}

.tablinks {
    background: linear-gradient(to right, #4600b6, #e4008c);
    border-radius: 20px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.tablinks:hover {
    background: linear-gradient(to right, #2a006e, #8f0058);
    transform: translateY(-3px);
    /* Effetto di sollevamento */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}